<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kbo.rank.repository.RankMapper">
    <select id="selectRankList" resultType="com.kbo.rank.dto.RankDTO">
        SELECT RANK_SEQ AS RANK_SEQ,
               CLUB_CODE AS CLUB_CODE,
               GAMES AS GAMES,
               WINS AS WINS,
               LOSES AS LOSES,
               DRAWS AS DRAWS,
               PERCENTAGE AS PERCENTAGE,
               GAME_BEHIND AS GAME_BEHIND
        FROM  RANK
    </select>
</mapper>