<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KBO | 한국프로야구협회</title>
</head>
<link rel="stylesheet" href="../css/bootstrap.min.css">
<script src="../js/bootstrap.min.js"></script>
<body>
    <h1>순위</h1>
    <table>
        <th>
            <td>순위</td>
            <td>구단</td>
            <td>경기수</td>
            <td>승</td>
            <td>무</td>
            <td>패</td>
            <td>승률</td>
            <td>승차</td>
        </th>
        <tr>
            <td>1</td>
            <td>SSG랜더스</td>
            <td>144</td>
            <td>90</td>
            <td>4</td>
            <td>50</td>
            <td>0.720</td>
            <td>0</td>
        </tr>
        <tr>
            <td>2</td>
            <td>롯데자이언츠</td>
            <td>144</td>
            <td>86</td>
            <td>2</td>
            <td>56</td>
            <td>0.696</td>
            <td>4</td>
        </tr>
    </table>

    <input type="text" >

    <button id="register" class="btn-primary">글 등록</button>
</body>
</html>
<script>

</script>