<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KBO | 한국프로야구협회</title>
</head>
<link rel="stylesheet" href="../css/bootstrap.min.css">
<script src="../js/bootstrap.min.js"></script>
<body>
    <div class="header">
        <div class="logo">
    </div>
    <div class="row">
        <h1>자유 게시판</h1>
        <table class="table">
            <tr>
                <td>게시물번호</td>
                <td>제목</td>
                <td>내용</td>
            </tr>
            <tr th:each="board , index: ${boardList}">
                <td th:text="${board.id}"></td>
                <td th:text="${board.title}"></td>
                <td th:text="${board.content}"></td>
            </tr>
        </table>
    </div>
    <input type="text" >

    <button id="register" class="btn-primary">글 등록</button>
</body>
</html>
<script>

</script>