<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KBO | 한국프로야구협회</title>
</head>
<link rel="stylesheet" href="../css/bootstrap.min.css">
<script src="../js/bootstrap.min.js"></script>
<body>
    <h1>자유 게시판</h1>
    <table>
        <tr>
            <td>이름</td>
            <td>구단</td>
            <td>경기수</td>
        </tr>
        <tr th:each="event , index: ${events}">
            <td th:text="${index.index}">#</td>
            <td th:text="${event.name}">이벤트 이름</td>
            <td th:text="${event.limitOfEnrollment}">100</td>
        </tr>
    </table>

    <input type="text" >

    <button id="register" class="btn-primary">글 등록</button>
</body>
</html>
<script>
    document.addEventListener()
</script>