<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<script src="../js/header/header.js"></script>
<body>
<header class="site-header" th:fragment="header">
    <nav>
        <ul class="header">
            <li class="top-menu">KBO
                <ul class="sub-menu">
                    <li>KBO 개요 및 연혁</li>
                    <li>총재 인사말</li>
                    <li>구단 소개</li>
                    <li>리그 기록</li>
                </ul>
            </li>
            <li class="top-menu">경기
<!--                <li class="sub-menu">KBO</li>-->
            </li>
            <li class="top-menu">공지사항
<!--                <li class="sub-menu">KBO</li>-->
            </li>
            <li class="top-menu">미디어
<!--                <li class="sub-menu">KBO</li>-->
            </li>
            <li class="top-menu">KBO 몰
<!--                <li class="sub-menu">KBO</li>-->
            </li>
        </ul>
    </nav>
</header>
</body>
</html>