<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<header class="site-header" th:fragment="header">
    <nav>
        <ul class="header">
            <li><a href="#">KBO</a></li>
            <li><a href="#">경기</a></li>
            <li><a href="#">공지사항</a></li>
            <li><a href="#">미디어</a></li>
            <li><a href="#">KBO 몰</a></li>
        </ul>
    </nav>
</header>

</body>
</html>