<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KBO 웹사이트 헤더</title>
    <link rel="stylesheet" href="/css/frame/header.css">
</head>
<body>
    <header class="header" th:fragment="header">
        <nav class="navigation">
            <ul>
                <li><a href="#">일정 · 결과</a></li>
                <li><a href="#">기록 · 순위</a></li>
                <li><a href="#">선수</a></li>
                <li><a href="#">미디어 · 뉴스</a></li>
                <li><a href="#">KBO</a></li>
                <li><a href="#">퓨처스리그</a></li>
                <li><a href="#">KBO 마켓</a></li>
                <li><a href="#">KBO 폰트</a></li>
            </ul>
        </nav>
    </header>

    <nav class="dropdown-menu">
        <ul>
            <li><a href="#">경기일정 · 결과</a></li>
            <li><a href="#">게임센터</a></li>
            <li><a href="#">스코어보드</a></li>
            <li><a href="#">올스타전</a></li>
            <li><a href="#">국제대회</a></li>
            <li><a href="#">야구장 날씨</a></li>
        </ul>
    </nav>
</body>
</html>